@import url('https://fonts.cdnfonts.com/css/google-sans');

@import "tailwindcss";

@theme {
    --color-accent-red: #ff000a;
    --color-accent-hover: #ed4321;
    --color-text-main: #0B1724;
    --color-bg-warm: #F9F9F7;

    --font-sans: 'Inter', system-ui, sans-serif;
    --font-display: 'Product Sans', system-ui, sans-serif;

    --radius-2xl: 1.5rem;
    --radius-3xl: 2rem;
}

@layer base {
    body {
        @apply font-sans text-text-main antialiased;
        position: relative;
        background-color: #F9F9F7;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display font-bold tracking-tight;
    }
}

.text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
    transition: opacity 0.3s ease;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}

@layer base {

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@custom-variant hover (&:hover);